 @media (prefers-color-scheme: dark){
		body {
			background:#242424;
		}
	}
	body{
        color: white;
		margin:1em auto;
		max-width:40em;
		padding:0 .62em 3.24em;
		font:1.2em/1.62 sans-serif
	}
	h1,h2,h3 {
		line-height:1.2
    font-size: 64px;
	}
	h1 {
    font-size: 1000%;
    text-align: center;
	}
    a:link {
        color: #55cefd;
    }
    a:visited {
        color: #f6aab7;
    }
	@media print{
		body{
			max-width:none
		}
	}
